<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <% console.log(posts) %>
    <p>Welcome to <%= title %></p>

    <% if (posts.length > 0) { posts.forEach(element => { %>
    <p class="title">Title: <%= element.title %></p>
    <p>Post: <%= element.post %></p>
    <p>Author: <%= element.owner.username %></p>
    <br />
    <% }) %> <% } else { %>
    <p>There is nothing to show!</p>
    <% } %>
  </body>
</html>
